body {
    background-position: center center;
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("../../__assets__/1.png");
  }