body {
  background-position: center center;
  position: relative;
  height: 100%;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-size: cover;
  background-image: url("../../__assets__/hero.png");
}

.getstarted {
  margin-top: 470px;
  margin-left: 630px;
  position: center;

}

.nav {
  visibility: hidden;
}

@media (min-width: 200px) {
  body {
    background-image: url("../../__assets__/hero-mobile.png");
  }
  .getstarted {
    margin-top: 490px;
    margin-left: 100px;
    position: center;

  }
}


@media (min-width: 500px) {
  body {
    background-image: url("../../__assets__/hero-mobile.png");
  }
  .getstarted {
    margin-top: 490px;
    margin-left: 170px;
    position: center;

  }
}

@media (min-width: 767px) {
  body {
    background-image: url("../../__assets__/hero-tab.png");
  }
  .getstarted {
    position: relative;
    margin-top: 490px;
    margin-left: 300px;
    position: center;
  }

}

@media (min-width: 1200px) {
  body {
    background-image: url("../../__assets__/hero.png");
  }
  .getstarted {
    margin-top: 500px;
    margin-left: 630px;
    position: center;

  }
  .nav {
    visibility: visible;
  }

}
