@font-face {
  font-family: sfBold;
  src: url(./fonts/SF-Pro-Text-Bold.otf);
}
@font-face {
  font-family: sfRegular;
  src: url(./fonts/SF-Pro-Text-Regular.otf);
}
@font-face {
  font-family: sfMedium;
  src: url(./fonts/SF-Pro-Text-Medium.otf);
}

@font-face {
  font-family: sfHeavy;
  src: url(./fonts/SF-Pro-Text-Heavy.otf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body,
html,
#root {
  height: 100%;
}

body,
html {
  /* background-color: #1a1a1a; */
  font-family: sfRegular;
  color: #fff;
}

h1 {
  margin: 0;
}